body {
    background-color:  #87ceeb;
}

.container {
    color: #f6f606 ;
}

.card {
    
    background-color:  #87ceeb;
    margin-left: 10px; 
    border: solid black 2px;
}
.forecast {
    border: solid black 2px;
    color: white;
    
}

#searchBtn {
    border: solid 2px black;
}

.fa-cloud-sun-rain {
    color:#f6f606;
}

.forecast {
    color:#f6f606;
}